<!DOCTYPE html>
<html lang="zh-CN">

<!-- 

  页码生成和点击事件的步骤：

      1.我们把之前写的请求评论的接口的代码，封装成了一个函数，并且需要传入一个参数，参数用来接收你要查询的页码
          传入1，代表查第一页，传入2代表查第二页

      2.准备一个生成页码的模板

      3.在响应完成的事件里(success这个回调函数里)，就生成这个模板的代码，传入总页数，和当前页

      4.模板里，上一页和下一页不参与循环，循环总页数次，循环里面生成页码的li标签

      5.判断i是否等于当前页，如果等于，给这个li标签加一个active的类，其他的不加

      6.在模板里面给每个生成的页码加一个行内的点击事件（a标签改它的href属性：改成javascript:loadData(页码)）

      7.给上一页和下一页加点击事件，但是上一页传入的参数时当前页-1  下一页传入的参数时当前页+1

      8.做越界判断，如果当前页不是最后一页，那么就让下一页可以被点，否则让下一页不可以被点（javascript:），上一页的越界就是当前也不等于1，那么就上一页可以被点，否则不能被点

-->

<head>
  <meta charset="utf-8">
  <title>Comments &laquo; Admin</title>
  <link rel="stylesheet" href="../assets/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="../assets/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="../assets/css/admin.css">
  <script src="../assets/vendors/nprogress/nprogress.js"></script>
</head>

<body>
  <script>NProgress.start()</script>

  <div class="main">
    <nav class="navbar">
      <button class="btn btn-default navbar-btn fa fa-bars"></button>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="profile.html">
            <i class="fa fa-user"></i>个人中心</a>
        </li>
        <li>
          <a href="login.html">
            <i class="fa fa-sign-out"></i>退出</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="page-title">
        <h1>所有评论</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <div class="page-action">
        <!-- show when multiple checked -->
        <div class="btn-batch" style="display: none">
          <button class="btn btn-info btn-sm">批量批准</button>
          <button class="btn btn-warning btn-sm">批量拒绝</button>
          <button class="btn btn-danger btn-sm">批量删除</button>
        </div>
        <ul class="pagination pagination-sm pull-right">
          <li>
            <a href="#">上一页</a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">下一页</a>
          </li>
        </ul>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" width="40">
              <input type="checkbox">
            </th>
            <th>作者</th>
            <th>评论</th>
            <th>评论在</th>
            <th>提交于</th>
            <th>状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody id="tb">

        </tbody>
      </table>
    </div>
  </div>

  <div class="aside">
    <div class="profile">
      <img class="avatar" src="../uploads/avatar.jpg">
      <h3 class="name">布头儿</h3>
    </div>
    <ul class="nav">
      <li>
        <a href="index.html">
          <i class="fa fa-dashboard"></i>仪表盘</a>
      </li>
      <li>
        <a href="#menu-posts" class="collapsed" data-toggle="collapse">
          <i class="fa fa-thumb-tack"></i>文章
          <i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-posts" class="collapse">
          <li>
            <a href="posts.html">所有文章</a>
          </li>
          <li>
            <a href="post-add.html">写文章</a>
          </li>
          <li>
            <a href="categories.html">分类目录</a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="comments.html">
          <i class="fa fa-comments"></i>评论</a>
      </li>
      <li>
        <a href="users.html">
          <i class="fa fa-users"></i>用户</a>
      </li>
      <li>
        <a href="#menu-settings" class="collapsed" data-toggle="collapse">
          <i class="fa fa-cogs"></i>设置
          <i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-settings" class="collapse">
          <li>
            <a href="nav-menus.html">导航菜单</a>
          </li>
          <li>
            <a href="slides.html">图片轮播</a>
          </li>
          <li>
            <a href="settings.html">网站设置</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="../assets/vendors/jquery/jquery.js"></script>
  <script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="/assets/vendors/template-web.js"></script>

  <script>NProgress.done()</script>
</body>

</html>

<!-- 创建表格数据的模板 -->
<script type="text/html" id="tplComment">

  {{ each list value}}

    {{ if value.status == "held" }}
      <tr class="danger">
    {{ else }}
      <tr>
    {{/if}}

        <td class="text-center"><input type="checkbox" onclick="doChecked();" ></td>
        <td>{{ value.author }}</td>
        <td>{{ value.content }}</td>
        <td>《{{ value.title }}》</td>
        <td>{{ value.created }}</td>

      {{ if value.status == "rejected" }}
        <td>已拒绝</td>
      {{ else if value.status == "approved" }}
        <td>已批准</td>
      {{ else if value.status == "held" }}
        <td>待审核</td>
      {{ /if }}
        <td class="text-center">
        
          <!-- 如果是approved(已批准)就显示拒绝，如果是held（待审核）,那么就显示批准 -->
        {{ if value.status == "approved" }}
          <a href="post-add.html" class="btn btn-warning btn-xs">拒绝</a>
        {{ else if value.status == "held" }}
          <a href="post-add.html" class="btn btn-info btn-xs">批准</a>
          <!-- 要么就是没有 -->
        {{ /if }}

          <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
        </td>
    </tr>

  {{ /each }}
</script>

<!-- 这个是创建页码的模板
    页码模板中：上一页和下一页永远都只有一个，所以不要写在循环体里面
    要记住：循环最好用JS的fori的循环，i的值最好是从1开始，小于等于总页数（方便生成li标签显示的页码）
-->
<script type="text/html" id="tplPage">

  {{ if pageIndex != 1}}
    <li><a href="javascript:loadData( {{ pageIndex - 1 }} )">上一页</a></li>
  {{ else }}
    <li><a href="javascript:">上一页</a></li>
  {{ /if }}

  <% for(var i = 1; i <= totalPage; i++){ %> 
  
    {{ if i == pageIndex }}

      <li class="active"><a href="javascript:loadData( {{ i }} )"> {{ i }} </a></li>

    {{ else }}

      <li><a href="javascript:loadData( {{ i }} )"> {{ i }} </a></li>

    {{ /if }}

  <% } %>
  
  {{ if pageIndex != totalPage }}
    <li><a href="javascript:loadData( {{ pageIndex + 1 }} )">下一页</a></li>
  {{ else  }}
    <li><a href="javascript:">下一页</a></li>
  {{ /if }}
</script>

<script>

  /**
    接收一个参数：pageIndex，这是外界传入一个页码
    传的页码是几，就去找第几页的数据
  */
  function loadData(pageIndex) {

    //发起一个请求
    $.get({

      url: "api/getComments.php",
      data: { pageSize: 10, pageIndex: pageIndex },
      dataType: "json",
      success: function (obj) {

        //读取模板
        var html = template('tplComment', { list: obj.data });

        // console.log(html);
        $('#tb').html(html);


        //读取页码模板,把总页数传给模板
        //totalPage：代表总页数
        //pageIndex：代表当前页
        var html2 = template('tplPage', { totalPage: obj.totalPage, pageIndex: pageIndex });
        //加在显示页码的ul里面
        $('.pagination').html(html2);
      }
    })
  }

  loadData(1);


  function doChecked() {

    //判断被选中的checkbox数量是否大于0，大于0就显示，否则隐藏
    if ($('tbody :checked').length > 0)
      $('.btn-batch').fadeIn();
    else
      $('.btn-batch').fadeOut();

    
    // if( $('tbody :checked').length == $('tbody :checkbox').length ){

    //   $('thead :checkbox').prop('checked',true);
    // }else{
      
    //   $('thead :checkbox').prop('checked',false);
    // }

    var res =  $('tbody :checked').length == $('tbody :checkbox').length ;

    $('thead :checkbox').prop('checked',res);

  }


  //直接绑定事件
  $('thead :checkbox').click(function () {

    //如果是true，tbody下面也要是true
    var result = $(this).prop('checked');

    $('tbody :checkbox').prop('checked', result);

    if (result)
      $('.btn-batch').fadeIn();
    else
      $('.btn-batch').fadeOut();
  })

</script>